@model PasswordRulesModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="px-5">
    <h1 class="display-4 text-center">ScottBrady.IdentityModel</h1>
    <p class="text-center">Identity & Crypto helpers</p>

    <h2 class="py-2">NewPassword Tag Helper</h2>
    @if (Model.Message != null)
    {
        if (Model.Errors.Any())
        {
            <div class="alert alert-danger">
                <p>@Model.Message</p>
                <ul>
                    @foreach (var error in Model.Errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
        else
        {
            <div class="alert alert-success">
                <p class="mb-0">@Model.Message</p>
            </div>
        }
    }
    <form asp-action="PasswordRules" method="post" class="row pb-3">
        <div class="col-3 text-right">
            <label asp-for="Password" class="col-form-label">New Password:</label>
        </div>
        <div class="col-6">
            <newpassword asp-for="Password" class="form-control" id="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Validate</button>
    </form>
    <p>
        This tag helper generates the below input tag, adding <code>passwordrules</code> and other useful attributes,
        generated using your ASP.NET Identity password options.
    </p>
    <h3 class="h4">Tag helper</h3>
    <pre class="no-overflow">&lt;newpassword asp-for="Password" class="form-control" id="password" /&gt;</pre>
    <h3 class="h4">Generated HTML</h3>
    <pre id="result" class="no-overflow"></pre>
</div>

@section Scripts
{
    <script>
        let password = document.getElementById("password");
        let result = document.getElementById("result");
        
        result.innerText = password.outerHTML;
    </script>
}