@model PasswordRulesModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="px-5">
    <h1 class="display-4 text-center">ScottBrady.IdentityModel</h1>
    <p class="text-center">Identity & Crypto helpers</p>
    
    @if (Model.Message != null)
    {
        if (Model.Errors.Any())
        {
            <div class="alert alert-danger">
                <p>@Model.Message</p>
                <ul>
                    @foreach (var error in Model.Errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
        else
        {
            <div class="alert alert-success">
                <p>@Model.Message</p>
            </div>
        }
    }
    
    <form asp-action="PasswordRules" method="post">
        <label asp-for="Password">New Password</label>
        <newpassword asp-for="Password"/>
        <button class="btn btn-primary" type="submit">Validate</button>
    </form>
</div>

