name: .NET Core

on:
  push:
    branches: [ master, v2 ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET 6.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: Setup .NET 8.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: Fix Windows VM bug
      shell: bash
      if: matrix.os == 'windows-latest'
      run: |
        dotnet nuget locals all --clear
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity minimal
    - name: Pack
      if: matrix.os == 'ubuntu-latest'
      run: dotnet pack -c Release
    - name: Publish artifact
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@v4
      with:
        name: nupkg
        path: '**/*.nupkg'
